{% extends 'menu.html' %}
{% load i18n %}
{% load static %}

{% block mystyle %}
    

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link type="image/x-icon" href="/favicon.ico" rel="shortcut icon">
<link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="{% static 'member/style1.css' %}" >
{% endblock mystyle %}

{% block content %}
<body>
<br> 
<br/> 
<br/> 
<div class="container" > 
	<div class="row">
     <div class="col-md-3"> 
					
		</div>  			
		<div class="col-md-6 main"> 
    		
<form class="login" method="POST" action="{% url 'account_login' %}">
   {% if form.errors%}
        <p>username and password not correct please try again </p>
    
  {% endif %}
  {% csrf_token %}
	<h1>{% trans "Login Here" %}</h1> 
  <input class="box" type="text" name="login" placeholder="Username" id="id_login" maxlength="150" required autocomplete="username"/>
  <input class="box" type="password" name="password" placeholder="Password" id="id_password" required autocomplete="current-password"/>
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>
  <a href="{% url 'account_signup' %}"><h3>{% trans "Signup Here" %}</h3></a>
</form>
</div>
</div>
</div>

</body>
{% endblock %}
